%h1 Listing Log Games

%table
  %thead
    %tr
      %th Date played
      %th User
      %th Opponent
      %th Your score
      %th Opponent score
      %th
      %th
      %th

  %tbody
    - @log_games.each do |log_game|
      %tr
        %td= log_game.date_played
        %td= log_game.user
        %td= log_game.opponent
        %td= log_game.your_score
        %td= log_game.opponent_score
        %td= link_to 'Show', log_game
        %td= link_to 'Edit', edit_log_game_path(log_game)
        %td= link_to 'Destroy', log_game, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Log game', new_log_game_path
