%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Won games
      %th Date played
      %th User
      %th Opponent
      %th Your score
      %th Opponent score

  %tbody
    - @log_games.each do |log_game|
      %tr
        %th= LogGame.where("user_id = #{log_game.user_id} and log_game_won_by_you = true").count
        %td= log_game.date_played
        %td= log_game.user.name
        %td= log_game.opponent.name
        %td= log_game.your_score
        %td= log_game.opponent_score