.action_links
  - if action_name == 'new' or action_name == 'create'
    - if can? :index, to_model(get_controller_name)
      = link_to eval("#{get_controller_name}_path"), class: 'btn btn-md btn-primary' do
        %i.fa.fa-arrow-circle-left
        Back
  - elsif action_name == 'index'
    - if can? :new, to_model(get_controller_name)
      = link_to eval("new_#{get_controller_name.singularize}_path"), class: 'btn btn-md btn-success' do
        %i.fa.fa-plus
        New
  - elsif action_name == 'edit' or action_name == 'update' or action_name == 'show'
    - if can? :index, to_model(get_controller_name)
      = link_to eval("#{get_controller_name}_path"), class: 'btn btn-md btn-primary' do
        %i.fa.fa-arrow-circle-left
        Back
    - if can? :new, to_model(get_controller_name)
      = link_to eval("new_#{get_controller_name.singularize}_path"), class: 'btn btn-md btn-success' do
        %i.fa.fa-plus
        New
    - if get_controller_name == 'users' and @user.id != current_user.id
      - if can? :edit, User
        = link_to edit_admin_user_path(@user), class: 'btn btn-md btn-warning' do
          %i.fa.fa-pencil
          Edit
    - else
      - if can? :edit, to_model(get_controller_name) and action_name != 'edit' and action_name != 'update'
        = link_to eval("edit_#{get_controller_name.singularize}_path(@#{get_controller_name.singularize})"), class: 'btn btn-md btn-warning' do
          %i.fa.fa-pencil
          Edit
    - if get_controller_name == 'users' and @user.id != current_user.id
      - if can? :destory, to_model(get_controller_name) and @user.id != current_user.id
        = link_to eval("@#{get_controller_name.singularize}"), method: :delete , class: 'btn btn-md btn-danger' do
          %i.fa.fa-trash
          Edit
    - elsif get_controller_name != 'users'
      - if can? :destory, to_model(get_controller_name)
        = link_to eval("@#{get_controller_name.singularize}"), method: :delete , class: 'btn btn-md btn-danger' do
          %i.fa.fa-trash
          Destroy
